{% extends "base.html" %}
{% block title %}Sobre nós{% endblock %}
{% block content %}
    <h2>Sobre nós</h2>
      <p>
        A MR Rent a Car é uma marca líder no aluguer de automóveis em Portugal, que opera no mercado nacional há 40 anos.
      Fundada por Mariana Rodrigues, é conhecida como uma empresa familiar que atua principalmente no segmento
      de mercado de negócios de restauração, transporte de mercadorias, gestão de frota e assistências em viagem,
      incluindo veículos de passageiros e comerciais.
      </p>

    <h3>Missão</h3>
        <p>
          Temos como objetivo adotar estratégias de crescimento e consolidação dos princípios empresariais de proximidade
          com o cliente sob o lema de “Não arranjes problemas, aluga soluções”, tendo como princípios basilares a "Transparência, Competência e Rigor".
        </p>
        <p>Valorizamos quem trabalha connosco e nos acompanha diariamente. A nossa política de qualidade é sempre
          direcionada para a satisfação total dos clientes, criação de valor, melhoria contínua dos nosso serviços e cumprimento dos requisitos.
        </p>
    <br>
{% endblock %}