{% extends "base.html" %}
{% block title %}Localização{% endblock %}
{% block content %}
    <h4> Pode encontrar os serviços da MR Rent a Car em Sintra. Venha ao nosso encontro para lhe fornecermos os melhores
      veículos para o levar a conhecer esta região magnífica de Sintra e todos os seus encontros.</h4>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198738.15445304255!2d-9.448030023593455!3d38.8946280959961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecfb7647f58f5%3A0xb60cde7ae3b94512!2sSixt%20Rent%20a%20Car!5e0!3m2!1spt-PT!2spt&z=15&layer=s" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}
