{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="form-container">
        <h2>Regista-te</h2>
        <form method="POST" action="{{ url_for('register', filename='/components/login.css') }}">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }} {{ form.username }}
            </div>
            <div>
                {{ form.email.label }} {{ form.email }}
            </div>
            <div>
                {{ form.password.label }} {{ form.password }}
            </div>
            <div>
                {{ form.confirm_password.label }} {{ form.confirm_password }}
            </div>
            <div>
                <button type="submit">Registar</button>
            </div>
        </form>
    </div>
{% endblock %}
